<h1>Sistema Gerenciado de Emprestimo de Livros</h1>
<p>Escolha uma das acões a seguir:</p>
<ul>
	<li><%= link_to("Cadastro", new_user_path) %></li>
	<li><%= link_to("Visualizar Livros", books_path) %></li>
</ul>